html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/light-background.jpeg");
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(241, 221, 37);
}

h5{
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 26px;
}

h6{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(241, 221, 37);
    text-align: center;
    font-size: 26px;
}

p{
    color: white;
    font-family: 'News Cycle', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 18px;
}

br{
    text-align: center;
}

a{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(241, 221, 37);
}
a:hover{
    font-family: "Fredericka the Great", cursive;
    color: black;
}

img{
    border: 2px #C37528 solid;
}

.card{
    margin-right: 35px;
    margin-left: 35px;
}

.card-header{
    background-color: #363636;
}

.list-group-item{
    background-color: #363636;
    border: 1px #C37528 solid;
    font-family: "News Cycle", sans-serif;
    color: white;
}

.navbar-brand{
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
}

.top-buffer{
    margin-top: 60px;
}

.top-buffer2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text{
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 24px;
}

.btn-dark{
    background-color: black;
    border: 1px solid black;
    font-family: 'Fredericka the Great', cursive;
}

label{
    color: white;
    font-family: 'Fredericka the Great', cursive;
}

#page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
    background-color: #373737;
    border-top: 8px solid #C37528;
    padding-top: 50px;
    font-family: 'Fredericka the Great', cursive;
  }

  .bg-dark{
      color: rgb(241, 221, 37)
      
  }

  .form-control{
      font-family: "News Cycle", sans-serif;
  }