html {
    height: 100%;
 }
 .navbar {
    background-color: #4aaaa5
 }
 .navbar-brand {
    color: #ffffff;
    font-size: 20pt;
 }
 .navbar-nav {
  letter-spacing: 2px;
 }
 h3 {
    color: #4aaaa5;
 }
 .container {
    padding-top: 30px;
    padding-bottom: 250px;
 }
 a {
    color: #777777;
 }
 p {
    color: #777777;
 }
 .card {
    color:#777777;
 }
 hr {
    width: 100%;
    color: #666666;
    padding-bottom: 15px;
 }
 }
 .container-fluid {
    font-size: 10pt;
 }
 footer {
    text-align: center;
 }
 @media screen and (max-width: 960px) {
    body {
      background-color: blue;
    }
 }
 @media screen and (max-width: 960px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  [class*="col-"] {
    width: 100%;
  }